Windows/Windows側.json
[{"id":"8074caa4.2895f8","type":"inject","z":"9be24382.0209c","name":"キャプチャー","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CAPTURE","payloadType":"str","x":130,"y":260,"wires":[["892465b6.ac7b98"]]},{"id":"892465b6.ac7b98","type":"mqtt out","z":"9be24382.0209c","name":"","topic":"mqtt_broker/capture","qos":"","retain":"","broker":"b968b6af.80f838","x":640,"y":260,"wires":[]},{"id":"2cd24453.2900ac","type":"mqtt in","z":"9be24382.0209c","name":"","topic":"mqtt_broker/status","qos":"2","datatype":"auto","broker":"b968b6af.80f838","x":310,"y":380,"wires":[["581407fc.6cd5c8","e05c8e0d.202f"]]},{"id":"581407fc.6cd5c8","type":"debug","z":"9be24382.0209c","name":"状態監視","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"1f7b2e18.9915b2","type":"ui_template","z":"9be24382.0209c","group":"7c71c7b8.2c9fe8","name":"PIC","order":2,"width":"6","height":"6","format":"<div>\n      <img src=\"data:image/png;base64,{{msg.payload}}\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":830,"y":640,"wires":[[]]},{"id":"87b9e781.806168","type":"mqtt in","z":"9be24382.0209c","name":"","topic":"mqtt_broker/image","qos":"2","datatype":"auto","broker":"b968b6af.80f838","x":310,"y":640,"wires":[["661b1915.63e118","c6ddad12.c4c04"]]},{"id":"661b1915.63e118","type":"base64","z":"9be24382.0209c","name":"","action":"","property":"payload","x":580,"y":640,"wires":[["1f7b2e18.9915b2","2caf4c7.0d958b4"]]},{"id":"dd677da1.d39d8","type":"inject","z":"9be24382.0209c","name":"キャプチャー","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CAPTURE","payloadType":"str","x":330,"y":880,"wires":[["92ff39a2.ec23f8"]]},{"id":"92ff39a2.ec23f8","type":"mqtt out","z":"9be24382.0209c","name":"","topic":"mqtt_broker/capture","qos":"","retain":"","broker":"b968b6af.80f838","x":840,"y":880,"wires":[]},{"id":"c6ddad12.c4c04","type":"debug","z":"9be24382.0209c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":760,"wires":[]},{"id":"2caf4c7.0d958b4","type":"debug","z":"9be24382.0209c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":760,"wires":[]},{"id":"e05c8e0d.202f","type":"switch","z":"9be24382.0209c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"\"motorOn\"","vt":"str"},{"t":"cont","v":"\"motorDir\"","vt":"str"},{"t":"cont","v":"\"error\"","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":500,"wires":[["c578868.0d56c78"],["5f412011.97035"],["ec416c89.68e8a"]]},{"id":"25d76781.a9a5b8","type":"ui_text","z":"9be24382.0209c","group":"7c71c7b8.2c9fe8","order":2,"width":0,"height":0,"name":"モータ状態表示","label":"","format":"現在のモータ状態：　{{msg.payload.motorOn}}","layout":"row-left","x":1140,"y":480,"wires":[]},{"id":"215099b4.6a40f6","type":"ui_text","z":"9be24382.0209c","group":"7c71c7b8.2c9fe8","order":2,"width":0,"height":0,"name":"モータ方向表示","label":"","format":"モーター方向： {{msg.payload.motorDir}}","layout":"row-left","x":1140,"y":520,"wires":[]},{"id":"95ad53fc.3ef76","type":"ui_text","z":"9be24382.0209c","group":"7c71c7b8.2c9fe8","order":2,"width":0,"height":0,"name":"エラー状態表示","label":"","format":"{{msg.payload.error}}","layout":"row-left","x":1140,"y":560,"wires":[]},{"id":"1a30ad22.f4af23","type":"inject","z":"9be24382.0209c","name":"","props":[{"p":"payload.operation","v":"UP","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":40,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"e80e7ee8.199f8","type":"inject","z":"9be24382.0209c","name":"","props":[{"p":"payload.operation","v":"DOWN","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":100,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"f467a60c.bdb218","type":"mqtt out","z":"9be24382.0209c","name":"","topic":"mqtt_broker/message_ctrl","qos":"","retain":"","broker":"b968b6af.80f838","x":710,"y":100,"wires":[]},{"id":"60f4e72a.9ea2c8","type":"inject","z":"9be24382.0209c","name":"","props":[{"p":"payload.operation","v":"STOP","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":160,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"3813ccda.632204","type":"inject","z":"9be24382.0209c","name":"","props":[{"p":"payload.operation","v":"CANCEL","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":220,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"93cd4a4f.7128e8","type":"ui_button","z":"9be24382.0209c","name":"","group":"79e9bb1f.6ec814","order":5,"width":0,"height":0,"passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"operation\":\"UP\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":40,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"32a17725.0061d8","type":"ui_button","z":"9be24382.0209c","name":"","group":"79e9bb1f.6ec814","order":5,"width":0,"height":0,"passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"operation\":\"DOWN\"}","payloadType":"json","topic":"topic","topicType":"msg","x":360,"y":80,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"6ba56885.2526b8","type":"ui_button","z":"9be24382.0209c","name":"","group":"79e9bb1f.6ec814","order":5,"width":0,"height":0,"passthru":false,"label":"STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"operation\":\"STOP\"}","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":160,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"7afa364f.6fb2f8","type":"ui_button","z":"9be24382.0209c","name":"","group":"79e9bb1f.6ec814","order":5,"width":0,"height":0,"passthru":false,"label":"CANCEL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"operation\":\"CANCEL\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":220,"wires":[["f467a60c.bdb218","6d7a179e.3199d8"]]},{"id":"a6c4183b.35cc98","type":"ui_button","z":"9be24382.0209c","name":"","group":"79e9bb1f.6ec814","order":5,"width":0,"height":0,"passthru":false,"label":"CAPTURE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CAPTURE","payloadType":"str","topic":"topic","topicType":"msg","x":350,"y":300,"wires":[["892465b6.ac7b98"]]},{"id":"6d7a179e.3199d8","type":"debug","z":"9be24382.0209c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"8cf745e0.3021e8","type":"debug","z":"9be24382.0209c","name":"msg motor on","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1100,"y":300,"wires":[]},{"id":"6cec2b2e.61df14","type":"debug","z":"9be24382.0209c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":500,"y":580,"wires":[]},{"id":"c578868.0d56c78","type":"json","z":"9be24382.0209c","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":480,"wires":[["47d19963.ee7a88"]]},{"id":"47d19963.ee7a88","type":"change","z":"9be24382.0209c","name":"モーター状態メッセージ","rules":[{"t":"change","p":"payload.motorOn","pt":"msg","from":"0","fromt":"str","to":"停止","tot":"str"},{"t":"change","p":"payload.motorOn","pt":"msg","from":"1","fromt":"str","to":"動作中","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[["25d76781.a9a5b8","8cf745e0.3021e8"]]},{"id":"5f412011.97035","type":"json","z":"9be24382.0209c","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":520,"wires":[["7208eb9a.fe7094"]]},{"id":"7208eb9a.fe7094","type":"change","z":"9be24382.0209c","name":"モーター方向メッセージ","rules":[{"t":"change","p":"payload.motorDir","pt":"msg","from":"0","fromt":"str","to":"閉める","tot":"str"},{"t":"change","p":"payload.motorDir","pt":"msg","from":"1","fromt":"str","to":"開ける","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":520,"wires":[["215099b4.6a40f6"]]},{"id":"ec416c89.68e8a","type":"json","z":"9be24382.0209c","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":560,"wires":[["beb9ebf3.c74418"]]},{"id":"beb9ebf3.c74418","type":"change","z":"9be24382.0209c","name":"エラーメッセージ","rules":[{"t":"change","p":"payload.error","pt":"msg","from":"0","fromt":"str","to":"正常動作中","tot":"str"},{"t":"change","p":"payload.error","pt":"msg","from":"1","fromt":"str","to":"！！！エラー発生中！！！","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":560,"wires":[["95ad53fc.3ef76"]]},{"id":"b968b6af.80f838","type":"mqtt-broker","name":"beebotte/mqtt_broker/message_ctrl","broker":"mqtt.beebotte.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c71c7b8.2c9fe8","type":"ui_group","name":"状態","tab":"869df983.d3c098","order":1,"disp":true,"width":"6","collapse":false},{"id":"79e9bb1f.6ec814","type":"ui_group","name":"操作","tab":"869df983.d3c098","order":1,"disp":true,"width":"6","collapse":false},{"id":"869df983.d3c098","type":"ui_tab","name":"巻き上げ機","icon":"dashboard","disabled":false,"hidden":false}]