Windows/ラズパイ側.json
[{"id":"11f6758c.7bd5ba","type":"tab","label":"巻き上げ機リモート","disabled":false,"info":""},{"id":"af83300d.9c5fb","type":"inject","z":"11f6758c.7bd5ba","name":"","topic":"","payload":"UP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":340,"wires":[["f0087d0b.8ce3c"]]},{"id":"b7f58e13.49337","type":"inject","z":"11f6758c.7bd5ba","name":"","topic":"","payload":"DOWN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":400,"wires":[["f0087d0b.8ce3c"]]},{"id":"1abb2406.8070ec","type":"inject","z":"11f6758c.7bd5ba","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":460,"wires":[["f0087d0b.8ce3c"]]},{"id":"f89ccdf2.589fb","type":"change","z":"11f6758c.7bd5ba","name":"Motor ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":340,"wires":[["46820329.a1a56c","9e3b9e0e.8dde7","7f2b3fc3.8f629","3c3db66f.c301da"]]},{"id":"aa6cf46e.31e898","type":"change","z":"11f6758c.7bd5ba","name":"Motor OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["46820329.a1a56c","9e3b9e0e.8dde7","7f2b3fc3.8f629","3c3db66f.c301da"]]},{"id":"c027b01c.ead52","type":"change","z":"11f6758c.7bd5ba","name":"Motor Dir ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":440,"wires":[["2cdf28ba.645cc8","73e438ea.fc01a8","8ed07b96.d9f3f8"]]},{"id":"13ab4af4.accbd5","type":"change","z":"11f6758c.7bd5ba","name":"Motor Dir OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":500,"wires":[["2cdf28ba.645cc8","73e438ea.fc01a8","8ed07b96.d9f3f8"]]},{"id":"ae26b4fb.a628e8","type":"trigger","z":"11f6758c.7bd5ba","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"10","extend":false,"units":"s","reset":"CANCEL","bytopic":"all","name":"ERROR発出","x":930,"y":600,"wires":[["7f666d25.f413f4","c8193589.6eb2f8","3412fb6f.f5fb44","351c04fe.9f657c"]]},{"id":"19afd349.2b377d","type":"change","z":"11f6758c.7bd5ba","name":"CANCELを送る","rules":[{"t":"set","p":"payload","pt":"msg","to":"CANCEL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":560,"wires":[["ae26b4fb.a628e8"]]},{"id":"bad90e1a.e58bc","type":"debug","z":"11f6758c.7bd5ba","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1920,"y":280,"wires":[]},{"id":"20a49d08.837ee2","type":"debug","z":"11f6758c.7bd5ba","name":"モーター制御","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":780,"wires":[]},{"id":"f252e4d0.6c2308","type":"inject","z":"11f6758c.7bd5ba","name":"","topic":"CALCEL","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":600,"wires":[["7f666d25.f413f4","c8193589.6eb2f8","351c04fe.9f657c"]]},{"id":"46820329.a1a56c","type":"change","z":"11f6758c.7bd5ba","name":"","rules":[{"t":"set","p":"motorOn","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":360,"wires":[["ce7134f5.74a1a8"]]},{"id":"ce7134f5.74a1a8","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1380,"y":380,"wires":[]},{"id":"9bf4aa26.73beb8","type":"debug","z":"11f6758c.7bd5ba","name":"Motor DIR","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1930,"y":220,"wires":[]},{"id":"63e7bc6d.6028f4","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1380,"y":500,"wires":[]},{"id":"96e7dade.527928","type":"inject","z":"11f6758c.7bd5ba","name":"UP Switch ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":800,"wires":[["c8efd1e2.8c2ab"]]},{"id":"af229ab4.95eaa8","type":"inject","z":"11f6758c.7bd5ba","name":"UP Switch OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":860,"wires":[["c8efd1e2.8c2ab"]]},{"id":"c8efd1e2.8c2ab","type":"trigger","z":"11f6758c.7bd5ba","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":820,"wires":[["9b77a9f9.da2b48","12ee4483.d93c9b","140f67d8.635808"]]},{"id":"9b77a9f9.da2b48","type":"debug","z":"11f6758c.7bd5ba","name":"上端スイッチ状態","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":750,"y":900,"wires":[]},{"id":"12ee4483.d93c9b","type":"function","z":"11f6758c.7bd5ba","name":"巻上中スイッチ監視","func":"var newMsg1 = {\"payload\":\"\"}\nvar newMsg2 = {\"payload\":\"\"}\n\nmotorOn = flow.get(\"motorOn\")\nmotorDir = flow.get(\"motorDir\")\nnewMsg1[\"motorOn\"] = motorOn\nnewMsg1[\"motorDir\"] = motorDir\n\nif ( motorOn == 1 && motorDir == 1){\n    if ( msg.payload == 1){\n        newMsg1[\"payload\"] = \"CANCEL\"\n        newMsg2[\"payload\"] = \"STOP\"\n        return [newMsg1, newMsg2]\n    }\n}\n","outputs":2,"noerr":0,"x":830,"y":840,"wires":[["62f9c9d7.5dc6f8","ae26b4fb.a628e8"],["d36b833a.c71f1","395fcbfd.3d3974"]]},{"id":"62f9c9d7.5dc6f8","type":"debug","z":"11f6758c.7bd5ba","name":"エラーキャンセル","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1150,"y":840,"wires":[]},{"id":"2cdf28ba.645cc8","type":"change","z":"11f6758c.7bd5ba","name":"","rules":[{"t":"set","p":"motorDir","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":460,"wires":[["63e7bc6d.6028f4"]]},{"id":"d36b833a.c71f1","type":"debug","z":"11f6758c.7bd5ba","name":"モーターストップ","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1150,"y":900,"wires":[]},{"id":"140f67d8.635808","type":"change","z":"11f6758c.7bd5ba","name":"","rules":[{"t":"set","p":"upperSwitch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":940,"wires":[[]]},{"id":"395fcbfd.3d3974","type":"function","z":"11f6758c.7bd5ba","name":"モータ制御","func":"upperSwitch = flow.get(\"upperSwitch\") || 0\nlowerSwitch = flow.get(\"lowerSwitch\") || 0\nvar msg1 = {}\n\nif ( msg.payload == \"UP\" && upperSwitch != 1){\n    msg1.payload = \"UP1\"\n    return [msg,null,null, msg1]\n}\nif ( msg.payload == \"DOWN\" && lowerSwitch != 1){\n    msg1.payload = \"DOWN1\"\n    return [null,msg,null, msg1]\n}\nif ( msg.payload == \"STOP\" ){\n    msg1.payload = \"STOP1\"\n    return [null,null,msg, msg1]\n}\nmsg1.payload = \"無視\"\nreturn [null, null, null, msg1]\n","outputs":4,"noerr":0,"x":650,"y":440,"wires":[["f89ccdf2.589fb","c027b01c.ead52","ae26b4fb.a628e8","20a49d08.837ee2"],["f89ccdf2.589fb","ae26b4fb.a628e8","20a49d08.837ee2","13ab4af4.accbd5"],["19afd349.2b377d","aa6cf46e.31e898","13ab4af4.accbd5","20a49d08.837ee2"],["20a49d08.837ee2"]]},{"id":"fb709fac.44d9a","type":"inject","z":"11f6758c.7bd5ba","name":"LOWER Switch ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":980,"wires":[["cf82a0ba.f14bb"]]},{"id":"69921158.10b64","type":"inject","z":"11f6758c.7bd5ba","name":"LOWER Switch OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1040,"wires":[["cf82a0ba.f14bb"]]},{"id":"cf82a0ba.f14bb","type":"trigger","z":"11f6758c.7bd5ba","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":1000,"wires":[["81ba004f.d40b3","40ddb01e.8991f","98e8575f.b5af98"]]},{"id":"81ba004f.d40b3","type":"debug","z":"11f6758c.7bd5ba","name":"下端スイッチ状態","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":770,"y":1020,"wires":[]},{"id":"40ddb01e.8991f","type":"function","z":"11f6758c.7bd5ba","name":"巻下中スイッチ監視","func":"var newMsg1 = {\"payload\":\"\"}\nvar newMsg2 = {\"payload\":\"\"}\n\nmotorOn = flow.get(\"motorOn\")\nmotorDir = flow.get(\"motorDir\")\nnewMsg1[\"motorOn\"] = motorOn\nnewMsg1[\"motorDir\"] = motorDir\n\nif ( motorOn == 1 && motorDir == 0){\n    if ( msg.payload == 1){\n        newMsg1[\"payload\"] = \"CANCEL\"\n        newMsg2[\"payload\"] = \"STOP\"\n        return [newMsg1, newMsg2]\n    }\n}\n","outputs":2,"noerr":0,"x":820,"y":980,"wires":[["368a8ff0.a433a","ae26b4fb.a628e8"],["1c588f0.2352e71","395fcbfd.3d3974"]]},{"id":"368a8ff0.a433a","type":"debug","z":"11f6758c.7bd5ba","name":"エラーキャンセル","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1150,"y":1000,"wires":[]},{"id":"1c588f0.2352e71","type":"debug","z":"11f6758c.7bd5ba","name":"モーターストップ","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1150,"y":1040,"wires":[]},{"id":"98e8575f.b5af98","type":"change","z":"11f6758c.7bd5ba","name":"","rules":[{"t":"set","p":"lowerSwitch","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1060,"wires":[[]]},{"id":"9e3b9e0e.8dde7","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"Motor ON","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1380,"y":320,"wires":[]},{"id":"73e438ea.fc01a8","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"Motor Dir","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1390,"y":440,"wires":[]},{"id":"7f666d25.f413f4","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"ERROR","pin":"18","set":true,"level":"0","freq":"","out":"out","x":1420,"y":580,"wires":[]},{"id":"c8193589.6eb2f8","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"BUZZER","pin":"12","set":true,"level":"0","freq":"100","out":"out","x":1420,"y":640,"wires":[]},{"id":"d23df6ca.b3add8","type":"rpi-gpio in","z":"11f6758c.7bd5ba","name":"上端スイッチ","pin":"29","intype":"tri","debounce":"25","read":true,"x":350,"y":900,"wires":[["6d9cec15.ca85f4"]]},{"id":"1682fa1a.35e5f6","type":"rpi-gpio in","z":"11f6758c.7bd5ba","name":"下端スイッチ","pin":"31","intype":"tri","debounce":"25","read":true,"x":370,"y":1080,"wires":[["b6a31ce3.4e0bc"]]},{"id":"d1a3d22a.67d57","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"status1","pin":"15","set":true,"level":"1","freq":"","out":"out","x":1580,"y":640,"wires":[]},{"id":"b6a31ce3.4e0bc","type":"rbe","z":"11f6758c.7bd5ba","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":1080,"wires":[["cf82a0ba.f14bb"]]},{"id":"6d9cec15.ca85f4","type":"rbe","z":"11f6758c.7bd5ba","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":510,"y":900,"wires":[["c8efd1e2.8c2ab"]]},{"id":"f330da50.2b5d68","type":"trigger","z":"11f6758c.7bd5ba","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1600,"y":420,"wires":[["80dfa07c.e9f6f"]]},{"id":"7f2b3fc3.8f629","type":"function","z":"11f6758c.7bd5ba","name":"START/STOP filter","func":"var start = flow.get(\"start\") || 0\n\nif ( msg.payload == 1){\n    start = 1\n    flow.set(\"start\",1)\n    return null\n}\nelse if ( msg.payload == 0){\n    start = 0\n    flow.set(\"start\",0)\n    return null\n}\nelse if ( start == 1)\n{\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":1590,"y":360,"wires":[["f330da50.2b5d68","76e6e5f6.83a5fc","39879a24.697546"]]},{"id":"76e6e5f6.83a5fc","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1610,"y":500,"wires":[]},{"id":"c80c7183.bb522","type":"inject","z":"11f6758c.7bd5ba","name":"3sec","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":1570,"y":320,"wires":[["7f2b3fc3.8f629"]]},{"id":"80dfa07c.e9f6f","type":"rpi-gpio out","z":"11f6758c.7bd5ba","name":"Status2","pin":"16","set":true,"level":"0","freq":"","out":"out","x":1600,"y":460,"wires":[]},{"id":"513a6834.820098","type":"comment","z":"11f6758c.7bd5ba","name":"巻き上げ機デモ","info":"UPボタンを押すと巻き上げが開始される\n　MotorON:1\n　MotorDir:1\n10秒以内に上端スイッチがONにならないとエラーになる\n上端スイッチがONでモータ停止\n上端スイッチがONの時はモータは駆動しない\n\nDOWNボタンを押すと巻き下げが開始される\n　MotorON:1\n　MotorDir:0\n10秒以内に下端スイッチがONにならないとエラーになる\n下端スイッチがONでモータ停止\n下端スイッチがONの時はモータは駆動しない\n\nSTOPボタンでモータ停止\n\nエラーはCANCELボタンで解除\n\nNode-REDが有効な間Status1 LEDが点灯\nモータ駆動中はStatus2 LEDが点滅\n","x":420,"y":300,"wires":[]},{"id":"8a3110c7.64ad1","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":140,"y":780,"wires":[]},{"id":"6aa7b867.9568b8","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":410,"y":160,"wires":[]},{"id":"dc3a0aba.9c04e8","type":"change","z":"11f6758c.7bd5ba","name":"CANCEL:0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":560,"wires":[["7f666d25.f413f4","c8193589.6eb2f8","351c04fe.9f657c"]]},{"id":"3412fb6f.f5fb44","type":"change","z":"11f6758c.7bd5ba","name":"エラーならストップ","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":680,"wires":[["59c249b5.2ce6d8","395fcbfd.3d3974"]]},{"id":"59c249b5.2ce6d8","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1300,"y":720,"wires":[]},{"id":"58be9fb5.c680b","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":260,"wires":[]},{"id":"83e6f3a7.254cd","type":"trigger","z":"11f6758c.7bd5ba","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"all","name":"3秒以内に別の司令が来たら待つ","x":700,"y":120,"wires":[["2015cea8.d6ddb2"]]},{"id":"f0087d0b.8ce3c","type":"function","z":"11f6758c.7bd5ba","name":"上はSTOP　下は本物","func":"var stopMsg = { payload: \"STOP\" };\nvar newMsg = {payload: \"\" };\nnewMsg.payload = msg.payload.operation\n\nreturn [stopMsg, newMsg];","outputs":2,"noerr":0,"x":410,"y":80,"wires":[["2015cea8.d6ddb2","12974e5.12600b2"],["83e6f3a7.254cd","dc65d71d.173608"]]},{"id":"2015cea8.d6ddb2","type":"rbe","z":"11f6758c.7bd5ba","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":930,"y":80,"wires":[["58be9fb5.c680b","395fcbfd.3d3974"]]},{"id":"53354706.fe0408","type":"comment","z":"11f6758c.7bd5ba","name":"司令がある度にSTOPを送る","info":"どっち向きに動いていても、とりあえず止まってから","x":440,"y":40,"wires":[]},{"id":"12974e5.12600b2","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":40,"wires":[]},{"id":"dc65d71d.173608","type":"debug","z":"11f6758c.7bd5ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"7fe169fc.57fc58","type":"template","z":"11f6758c.7bd5ba","name":"Motor ON=","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Motor ON: {{payload}} !\n","output":"str","x":1150,"y":140,"wires":[[]]},{"id":"55116247.12431c","type":"debug","z":"11f6758c.7bd5ba","name":"Motor On","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","x":1920,"y":160,"wires":[]},{"id":"3479b155.25b6ee","type":"template","z":"11f6758c.7bd5ba","name":"Motor Direction=","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Motor Direction: {{payload}} !","output":"str","x":1160,"y":200,"wires":[[]]},{"id":"4d2346cb.412378","type":"template","z":"11f6758c.7bd5ba","name":"ERROR=","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ERROR: {{payload}} !","output":"str","x":1140,"y":260,"wires":[[]]},{"id":"c14e1c7b.794d5","type":"mqtt out","z":"11f6758c.7bd5ba","name":"","topic":"mqtt_broker/status","qos":"","retain":"","broker":"cf9757ec.631df8","x":1890,"y":100,"wires":[]},{"id":"2291c2e1.4ea20e","type":"usbcamera","z":"11f6758c.7bd5ba","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"","x":410,"y":1200,"wires":[["a95713ab.35a1a"]]},{"id":"b18612dc.f93c2","type":"inject","z":"11f6758c.7bd5ba","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1200,"wires":[["2291c2e1.4ea20e"]]},{"id":"a95713ab.35a1a","type":"image","z":"11f6758c.7bd5ba","name":"","width":"640","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":640,"y":1200,"wires":[]},{"id":"39879a24.697546","type":"usbcamera","z":"11f6758c.7bd5ba","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","name":"","x":1810,"y":320,"wires":[["465a8ea4.d42ad"]]},{"id":"465a8ea4.d42ad","type":"mqtt out","z":"11f6758c.7bd5ba","name":"","topic":"mqtt_broker/image","qos":"","retain":"","broker":"cf9757ec.631df8","x":2030,"y":320,"wires":[]},{"id":"3c3db66f.c301da","type":"change","z":"11f6758c.7bd5ba","name":"motorOn","rules":[{"t":"set","p":"tmp","pt":"msg","to":"{\"motorOn\":\"XXX\"}","tot":"json"},{"t":"change","p":"tmp.motorOn","pt":"msg","from":"XXX","fromt":"re","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":140,"wires":[["c14e1c7b.794d5","55116247.12431c"]]},{"id":"8ed07b96.d9f3f8","type":"change","z":"11f6758c.7bd5ba","name":"motorDir","rules":[{"t":"set","p":"tmp","pt":"msg","to":"{\"motorDir\":\"XXX\"}","tot":"json"},{"t":"change","p":"tmp.motorDir","pt":"msg","from":"XXX","fromt":"re","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":180,"wires":[["9bf4aa26.73beb8","c14e1c7b.794d5"]]},{"id":"351c04fe.9f657c","type":"change","z":"11f6758c.7bd5ba","name":"error","rules":[{"t":"set","p":"tmp","pt":"msg","to":"{\"error\":\"XXX\"}","tot":"json"},{"t":"change","p":"tmp.error","pt":"msg","from":"XXX","fromt":"re","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":220,"wires":[["c14e1c7b.794d5","bad90e1a.e58bc"]]},{"id":"15f74d30.ff7a53","type":"mqtt in","z":"11f6758c.7bd5ba","name":"","topic":"mqtt_broker/message_ctrl","qos":"2","datatype":"auto","broker":"cf9757ec.631df8","x":110,"y":200,"wires":[["48e5346b.614a1c","6aa7b867.9568b8"]]},{"id":"68475038.1920e","type":"switch","z":"11f6758c.7bd5ba","name":"","property":"payload.operation","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"STOP","vt":"str"},{"t":"eq","v":"CANCEL","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":130,"y":380,"wires":[["f0087d0b.8ce3c"],["f0087d0b.8ce3c"],["f0087d0b.8ce3c"],["dc3a0aba.9c04e8","8a3110c7.64ad1"]]},{"id":"48e5346b.614a1c","type":"json","z":"11f6758c.7bd5ba","name":"","property":"payload","action":"obj","pretty":false,"x":110,"y":280,"wires":[["68475038.1920e"]]},{"id":"cf9757ec.631df8","type":"mqtt-broker","z":"","name":"beebotte/mqtt_broker/message_ctrl","broker":"mqtt.beebotte.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]